---
title: Category index
permalink: category
layout: index
---

{% comment%}
Based on https://github.com/codinfox/codinfox-lanyon/blob/master/blog/category.html
{% endcomment%}

{% assign rawcats = "" %}
{% for page in site.pages %}
{% assign tcats = page.category | join:'|' | append:'|' %}
{% assign rawcats = rawcats | append:tcats %}
{% endfor %}

{% assign rawcats = rawcats | split:'|' | sort %}

{% assign cats = "" %}

{% for cat in rawcats %}
{% if cat != "" %}

{% if cats == "" %}
{% assign cats = cat | split:'|' %}
{% endif %}

{% unless cats contains cat %}
{% assign cats = cats | join:'|' | append:'|' | append:cat | split:'|' %}
{% endunless %}
{% endif %}
{% endfor %}

<h1 class="page-title">
  <a href="/">Categories</a> | {{ page.title }}
</h1>
<br />

<div class="pages">
<p>
<ul>
{% for ct in cats %}
<li><a href="#{{ ct }}"> {{ ct | capitalize }} </a></li>
{% endfor %}
</ul>
</p>

{% for ct in cats %}
<h2 id="{{ ct }}">{{ ct | capitalize }}</h2>
<ul class="category-list">
  {% for page in site.pages %}
  {% if page.category contains ct %}
  <li>
    <h3>
      <a href="{{ page.url }}">
        {{ page.title }}
      </a>
    </h3>
  </li>
  {% endif %}
  {% endfor %}
</ul>
{% endfor %}

</div>