---
layout: default
---

<h1>{{ page.title | markdownify | remove: "<p>" | remove: "</p>"}}</h1>

{{content}}

{% if page.path contains "FAQ-" %}
  <p><small>FAQ ID: {{ page.path | remove_first: "FA" | remove_first: ".md" }}
  {% if page.tags %}
    <br />Tags:&nbsp;
      {%- for tag in page.tags -%}
      {%- if forloop.first == false -%}
        &ndash;
      {%- endif -%}
      <em><a href="tags#{{ tag }}">{{ tag }}</a></em>
      {%- endfor -%}
  {% endif %}
  {%- if page.date -%}
    <br />Last updated: {{ page.date "%Y-%m-%d" }}
  {% endif %}
{% endif %}
</small></p>
